.card {
  min-width: 300px;
  max-width: 420px;
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  border-radius: 5px;
  color: #111111;
}

.cardImage {
  margin: 10px;
}

.cardBody h4,
.cardBody p {
  padding-top: 5px;
  margin: 5px;
}

.cardFooter {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.cardFooter a {
  text-decoration: none;
  background-color: #999999;
  padding: 5px;
  border-radius: 8px;
  color: #ffffff;
}
