.save {
  background-color: #00008b;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.delete {
  background-color: #dc143c;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}
