.form-container {
  max-width: 470px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  text-align: center;
}

.form-container input {
  width: auto;
  height: 20px;
  margin: 5px 0;
  border: none;
}

.form-container .btn {
  background-color: #0e9b0e;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
}
