.form-container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-container input {
  width: auto;
  height: 20px;
  margin: 5px 0;
  border: none;
}

.form-container .btn {
  background-color: #0e9b0e;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
}
