.display {
  max-width: 1000px;
  height: 175px;
  position: relative;
  margin: 0 auto;
  background-image: radial-gradient(#bbbbbb, #999999, #666666, #444444);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.display h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
